

.App {
  text-align: center;
  background-color: #f2f2f2!important
}

/* {
  #ececec
  #e1e1e1
  #b2b355
  #f2f2f2
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-body{
  text-align: 'justify' !important;
  padding: 1rem 0.5rem 1rem 0.5rem !important;
}

.dropdown-menu {
  margin: 0.525rem 0 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-item{
  padding: .15rem 1.1rem !important;
  border-bottom: 2px solid #f1f2f2 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
